{% extends 'home/base.html' %}
{% block title %}
    Blog Home
{% endblock %}
{% block name %}
    Blog Home 
{% endblock %}
{% block blogactive %} active {% endblock %}

{% block body %}
<div class="container">   
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">Python blog</h5>
        <p class="card-text">Everything you need to know to kick start your python dev journey.</p>
        <a href="#" class="btn btn-primary">Read more</a>
    </div>
    </div>
</div> 
{% endblock %}